{% extends "base.html" %} {% block title %}Landing page{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("static/space.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: midnightblue;
  text-align : center;
}

h1 {
  color: lightblue;
  text-align : center;
  font-size: 600%;
  margin-left: 40px;
}
p{
  color: lightblue;
  text-align : center;
  font-size:350%;
  margin-left: 40px;
}
</style>
</head>
<body>

<h1>Sparkhacks 2024</h1>
<p style = margin-top:175px;>Mental health in space?!?!! </p>

<p style = margin-top:175px;>
    
    By: Dylan B, Francisco C,
        James V, Megh P
</p>

</body>
</html>
{% endblock %}