{% extends "base.html" %} {% block title %}Sign Up{% endblock %}

{% block content %}
<html>
<head>
<style>
img {
  width: 50%;
  margin-left: auto;
}
body {
    background-color: purple;
    text-align : center;
  }
  
h1 {
  color: lightblue;
  text-align : center;
  font-size: 450%;
  margin-left: 40px;
}
p{
  color: lightblue;
  text-align : center;
  font-size:250%;
  margin-left: 40px;
}
</style>
</head>
<img src="static/social.jpeg" alt="Drawing" width="100" height="650" align="left">
<body>

    <h1>What social will look like</h1>
    <p style = margin-top:125px;>A twitter like feed of your added friends 
        ability to like and comment on peoples progression </p>
    
    </body>
</html>
{% endblock %}